@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

:root {
  --primary-color: #fff;
  --secondary-color: #111517;
  --bg-color: #f2f2f2;
  --light-dark-color: #2b3844;
  --basic-transition: all 0.5s ease-in;
}

html.dark {
  --primary-color: #2b3844;
  --secondary-color: #fff;
  --bg-color: #202c36;
}

html {
  background: var(--bg-color);
  color: var(--secondary-color);
  transition: var(--basic-transition);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  margin: 0 auto;
}

.error {
  visibility: hidden;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  width: 300px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
}

.error p {
  font-size: 20px;
  font-weight: 800;
  color: #eb2f06;
}

header {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  margin-bottom: 3px;
  background: var(--primary-color);
  transition: background 0.5s ease-in;
}

nav {
  max-width: 375px;
  padding: 2rem 1rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h3 {
  font-size: 14px;
}

.color-mode {
  display: flex;
  gap: 1rem;
  cursor: pointer;
  transition: all 0.3s linear;
}

.color-mode:hover {
  transform: scale(1.2);
}

.color-mode p {
  font-size: 12px;
  font-weight: 600;
}

.far.fa-moon {
  font-size: 12px;
  display: block;
}
.fas.fa-moon {
  font-size: 12px;
  display: none;
}

.dark .far.fa-moon {
  display: none;
}
.dark .fas.fa-moon {
  display: block;
}

main {
  padding: 2rem;
  max-width: 375px;
  margin: 0 auto;
  min-height: calc(100vh - 83px);
}

.search-form {
  background: var(--primary-color);
  transition: background 0.5s ease-in;
  padding: 14px 28px;
  display: flex;
  align-items: center;
  gap: 2rem;
  border-radius: 4px;
  margin-bottom: 2rem;
}

.search-form input {
  border: 0;
  font-weight: 600;
  font-family: inherit;
  font-size: 12px;
  background: transparent;
  width: 100%;
  height: 100%;
  color: var(--secondary-color);
  transition: var(--basic-transition);
}

.fa-search {
  color: #b2b2b2;
  transition: var(--basic-transition);
}
.dark .fa-search {
  color: var(--secondary-color);
}

.search-form input:focus {
  outline: 0;
}
.search-form input::placeholder {
  color: #c4c4c4;
  transition: var(--basic-transition);
}
.dark .search-form input::placeholder {
  color: var(--secondary-color);
}

.select-filter {
  font-size: 12px;
  width: fit-content;
  height: fit-content;
}

.filter-header {
  background: var(--primary-color);
  transition: background 0.5s ease-in;
  width: 200px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-radius: 4px;
  cursor: pointer;
}

.filter-header .fa-chevron-down {
  font-size: 10px;
  transition: var(--basic-transition);
  color: #000000;
}

.dark .filter-header .fa-chevron-down {
  color: var(--secondary-color);
}

.space-between {
  height: 5px;
  width: 100%;
  background: var(--bg-color);
  transition: var(--basic-transition);
}

.regions {
  background: var(--primary-color);
  width: 200px;
  border-radius: 4px;
  padding: 1rem 0;
  position: absolute;
  display: none;
}
.regions.show {
  display: block;
  transform: translateY(0);
}

.regions li {
  list-style-type: none;
  margin: 10px 0;
  padding: 0px 20px;
  cursor: pointer;
  width: fit-content;
}

.border-bottom {
  width: 0%;
  height: 2px;
  background: var(--secondary-color);
  transition: width 0.8s ease, background 0.5s ease-in;
}

.regions li:hover .border-bottom {
  width: 100%;
}

.countries {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  margin-top: 4rem;
}

.single-country {
  background: var(--primary-color);
  color: var(--secondary-color);
  transition: background 0.5s ease-in, color 0.5s ease-in,
    box-shadow 0.5s linear;
  width: 264px;
  height: 336px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  text-decoration: none;
}

.dark .single-country:hover {
  box-shadow: 0 3px 6px rgba(255, 255, 255, 0.16),
    0 3px 6px rgba(255, 255, 255, 0.23);
}
.single-country:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.single-country img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.country-info {
  padding: 1rem;
}

.country-name {
  font-size: 18px;
}

.country-details {
  margin: 1rem 0;
}

.country-details p {
  font-size: 14px;
  font-weight: 600;
  margin: 4px 0;
}

.country-details span {
  font-weight: 300;
}

.home-container {
  width: 100%;
  display: flex;
  flex-flow: column;
  gap: 2rem;
}

.country-container {
  display: flex;
  flex-flow: column;
  gap: 2rem;
}

.single-country-info {
  display: flex;
  flex-flow: column;
  gap: 2rem;
}

.detail-container {
  display: flex;
  flex-flow: column;
  gap: 2rem;
}

.country-detail {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.country-detail p {
  font-weight: 600;
  font-size: 14px;
}

.country-detail span {
  font-weight: 300;
  font-size: 14px;
}

.home-country-name {
  font-size: 22px;
}

.country-flag {
  width: 320px;
  height: 229px;
  display: block;
  margin: 0 auto;
}

.home-btn {
  display: block;
  width: fit-content;
  text-decoration: none;
}

.home-btn button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--primary-color);
  color: var(--secondary-color);
  font-size: 14px;
  width: 6rem;
  padding: 10px 20px;
  border: 0;
  cursor: pointer;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
  transition: var(--basic-transition);
}

.fa-long-arrow-alt-left {
  transition: all 0.5s ease-in;
}

.home-btn button:hover .fa-long-arrow-alt-left {
  transform: translateX(-10px);
}

.border p {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 1rem;
}

.country-border {
  width: 100%;
  display: flex;
  gap: 10px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.country-border p {
  justify-self: flex-start;
}

.single-country-border {
  background: var(--primary-color);
  transition: var(--basic-transition);
  width: 96px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  border: 1px solid transparent;
  cursor: pointer;
}

.single-country-border:hover {
  background: transparent;
  border-color: var(--light-dark-color);
  font-size: 16px;
  font-weight: 800;
  color: var(--light-dark-color);
}
.dark .single-country-border:hover {
  border-color: #f2f2f2;
  color: #f2f2f2;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-border {
  text-decoration: underline;
  text-transform: uppercase;
  color: #eb2f06;
}

/* media screen  */

@media screen and (min-width: 1440px) {
  main {
    max-width: 1440px;
    padding: 2rem 5rem 2rem 5rem;
  }
  nav {
    max-width: 1440px;
    padding: 2em 5rem;
  }

  .color-mode p {
    font-size: 16px;
  }

  .far.fa-moon {
    font-size: 16px;
  }
  .fas.fa-moon {
    font-size: 16px;
  }

  header h3 {
    font-size: 22px;
  }

  .filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .search-form {
    width: 480px;
    height: 56px;
    margin-bottom: 0;
  }

  .search-form input {
    font-size: 14px;
  }

  .select-filter {
    font-size: 14px;
  }

  .filter-header .fa-chevron-down {
    font-size: 12px;
  }

  .countries {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .home-container {
    gap: 4rem;
  }

  .country-container {
    display: grid;
    grid-template-columns: repeat(2, 640px);
  }

  .country-img {
    width: 600px;
  }

  .single-country-info {
    display: flex;
    flex-flow: column;
    gap: 2rem;
  }

  .detail-container {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    gap: 0;
  }

  .country-detail p {
    font-size: 18px;
  }

  .country-detail span {
    font-size: 18px;
  }

  .home-country-name {
    font-size: 32px;
  }

  .border {
    display: flex;
    gap: 20px;
  }

  .country-border {
    width: 70%;
  }

  .border p {
    margin-bottom: 0;
    align-self: center;
  }
}
